.layout {
    height: 100vh;
    padding: 20px 50px;
}

.header {
    height: 10%;
    background-color: #0077b6;
    border-radius: 5px;
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header h1 {
    color: #caf0f8;
    font-size: 22px;
}

.content {
    height: 87%;
    border: 1px solid gray;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.489);
    padding: 10px;
}